# Ignore everything and then unignore only the files we need
**/*

# Transpiled code
!dist/

# Textmate grammar
!syntaxes/roc.tmLanguage.json

# Logo
!images/*.png

# Language configuration
!language-configuration.json

# Metadata
!README.md
!CHANGELOG.md
!LICENCE
